.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
  
}

.sect-m {
  margin: 80px 0px;
  @include laptop-min {
    margin: 60px 0px;
  }
}

.sect-p {
  padding: 80px 0px;
  @include laptop-min {
    padding: 60px 0px;
  }
}

.content {
  font-size: 16px;
  line-height: 130%;
  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.min-h-100vh {
  min-height: 100vh;
}
.flex-1 {
  flex: 1;
}