<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__main">
        <a href="#" class="footer__logo">
          <img src="@img/logo.png" alt="logo" />
        </a>
        <div class="footer__copyright">© 2025 INNOVA</div>
        <p class="footer__main-content">
          Все права защищены.
          <br />
          Копирование материалов с
          <br />
          разрешения администрации.
        </p>
      </div>
      <div class="footer__nav">
        <div class="footer__nav-item">
          <ul class="list footer__nav-list">
            <li><a href="#">Акции</a></li>
            <li><a href="#">Наши кухни</a></li>
            <li><a href="#">Этапы работы</a></li>
            <li><a href="#">Скачать каталог</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <ul class="list footer__nav-list">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Расчитать стоимость</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <a href="tel:+79177090077" class="footer__tel">+7 (917) 709-00-77</a>
          <div data-spollers class="footer__addresses">
            <div data-spoller class="footer__address-btn">
              <span>г. Казань, Проспект Ибрагимова, 56А</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div>
              <div class="footer__addresses-body">
                <div class="footer__address-item">
                  г. Казань, Проспект Ибрагимова, 56А
                </div>
                <div class="footer__address-item">
                  г. Казань, Проспект Ибрагимова, 56А
                </div>
              </div>
            </div>
          </div>
					<div class="footer__work-time">Пн-Вс: с 9:00 до 21:00</div>
					<a href="mailto:innova@in-kuh.ru" class="footer__mail">innova@in-kuh.ru</a>
        </div>
      </div>
			<div class="footer__buttons">
				<a href="#modal-connect" data-fancybox class="btn-s footer__nav-btn">Заказать звонок</a>
				<div class="footer__social">
					<a href="#" target="_blank" class="footer__social-btn">
						<img src="@img/tg.svg" alt="icon">
					</a>
					<a href="#" target="_blank" class="footer__social-btn">
						<img src="@img/wh.svg" alt="icon">
					</a>
				</div>
			</div>
    </div>
		<div class="footer__bottom">
			<ul class="list footer__bottom-list">
				<li><a href="#" target="_blank">Политика обработки персональных данных</a></li>
			</ul>
			<a href="https://qorix.ru/" target="_blank" class="footer__dev">
				<span>Разработка сайта –</span>
				<img src="@img/qorix.svg" alt="icon">
			</a>
		</div>
  </div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
