<div class="modal" id="modal-connect">
  <div class="modal__close" data-fancybox-close>
    <svg>
      <use xlink:href='img/icons/icons.svg#icon-close'></use>
    </svg>
  </div>
  <h3 class="s-title modal__title">Оставьте заявку</h3>
  <p class="modal__content">
    Мы свяжемся с вами для расчёта
    <br />
    стоимости кухонного гарнитура
  </p>
  <div class="modal__form-wrapper">
    <form action="#" class="modal__form">
      <div class="input-control">
        <input type="text" placeholder="Как к вам обращаться?" class="input" />
      </div>
      <div class="input-control">
        <input type="tel" placeholder="+7 (999) 999-99-99" class="input" />
      </div>
      <button class="btn-s modal__form-btn">Оставить заявку</button>
    </form>
    <p class="form-policy">
      Нажимая кнопку «Оставить заявку», я принимаю условия
      <a href="#" target="_blank">Пользовательского соглашения</a>
      и даю свое согласие на
      <a href="#" target="_blank">обработку моих персональных данных</a>
      , в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О
      персональных данных»
    </p>
  </div>
</div>
