<section class="s-catalog sect-p" id="s-catalog">
  <div class="container">
    <h2 class="s-title">
      Скачайте каталог с выгодными предложениями по кухонным гарнитурам
    </h2>
    <div class="s-catalog__wrapper">
      <div class="s-catalog__form-wrapper">
        <p class="s-catalog__form-content">
          Выберите удобный способ, чтобы получить каталог:
        </p>
        <form action="#" class="s-catalog__form">
          <div class="input-control">
            <div class="select">
              <input type="text" style="display: none;">
              <div class="select-btn">
                <span class="select-title">WhatsApp</span>
                <svg>
                  <use xlink:href='img/icons/icons.svg#icon-down'></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">Telegram</div>
                <div class="select-item">Viber</div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <img src="@img/catalog.png" alt="image" class="s-catalog__img">
    </div>
  </div>
</section>
