<section class="s-contacts sect-m">
  <div class="container">
    <div class="s-contacts__wrapper">
      <div class="s-contacts__info">
        <h2 class="s-contacts__title">Наши контакты</h2>
        <div class="s-contacts__grid">
          <a href="tel:+79177090077" class="s-contacts__tel">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tel-fill"></use>
            </svg>
            <span>+7 (917) 709-00-77</span>
          </a>
          <a href="mailto:innova@in-kuh.ru" class="s-contacts__mail">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-mail"></use>
            </svg>
            <span>innova@in-kuh.ru</span>
          </a>
          <div class="s-contacts__address">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
            <div>
              <div class="s-contacts__address-title">
                Мы находимся по адресу:
              </div>
              <div class="s-contacts__address-content">
                г. Казань, Проспект Ибрагимова, 56А
                <br />
                г. Зеленодольск, ул. Столичная, 62
              </div>
            </div>
          </div>
          <a href="#modal-connect" data-fancybox class="btn-s s-contacts__order-btn">Оставить заявку</a>
        </div>
        <div class="s-contacts__gallery">
          <h3 class="s-contacts__title">Наш салон</h3>
          <div class="s-contacts__gallery-grid">
            <a href="@img/contacts-gallery.jpg" data-fancybox="contacts-gallery" class="s-contacts__gallery-item">
              <img src="@img/contacts-gallery.jpg" alt="image">
            </a>
            <a href="@img/contacts-gallery.jpg" data-fancybox="contacts-gallery" class="s-contacts__gallery-item">
              <img src="@img/contacts-gallery.jpg" alt="image">
            </a>
            <a href="@img/contacts-gallery.jpg" data-fancybox="contacts-gallery" class="s-contacts__gallery-item">
              <img src="@img/contacts-gallery.jpg" alt="image">
            </a>
          </div>
        </div>
      </div>
      <div class="s-contacts__map-wrapper">
        <h2 class="s-contacts__title">Адреса офиса</h2>
        <div class="s-contacts__map" data-zoom="17" data-center="[55.8206170689049,49.09551749999995]" id="map"></div>
      </div>
    </div>
  </div>
</section>
