<section class="sect-m s-connect" id="s-connect">
  <div class="container">
    <div class="s-connect__head">
      <h2 class="s-title s-connect__title">Имеется дизайн своей кухни?</h2>
      <p class="s-connect__head-content">
        Загрузите фото и описание вашей кухни и получите расчёт стоимости кухни
      </p>
    </div>
    <div class="s-connect__body">
      <img src="@img/connect.jpg" alt="image" class="s-connect__body-bg" />
      <form action="#" class="s-connect__form">
        <div class="s-connect__form-grid">
          <div class="s-connect__form-col">
            <div class="input-control">
              <input
                type="text"
                placeholder="Как к вам обращаться?"
                class="input"
              />
            </div>
            <div class="input-control">
              <input
                type="tel"
                placeholder="+7 (999) 999-99-99"
                class="input"
              />
            </div>
          </div>
          <div class="s-connect__form-col-descr">
            <div class="input-control">
              <textarea
                placeholder="Описание вашей кухни"
                class="input"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="s-connect__form-nav">
          <button class="btn-s s-connect__form-submit">
            Расчитать стоимость кухни
          </button>
          <input type="file" class="input-file" id="connect-file" multiple accept="image/*" />
          <label for="connect-file" class="label-file s-connect__file-btn">
            <span>Загрузите фото вашего проекта</span>
          </label>
          <div class="s-connect__gallery"></div>
        </div>
        <p class="form-policy s-connect__form-policy">
          Нажимая кнопку «Оставить заявку», я принимаю условия
          <a href="#" target="_blank">Пользовательского соглашения</a>
          и даю свое согласие на
          <a href="#" target="_blank">обработку моих персональных данных</a>
          , в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О
          персональных данных»
        </p>
      </form>
    </div>
  </div>
</section>
