<section class="s-faq sect-m">
  <div class="container">
    <h2 class="s-title s-faq__title">Нам часто задают вопросы</h2>
    <div data-spollers class="s-faq__grid">
      <div class="s-faq__spoller">
        <div class="s-faq__spoller-btn">
          <span>Работаете ли вы по договору?</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-plus"></use>
          </svg>
        </div>
        <div class="s-faq__spoller-body">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Necessitatibus nobis suscipit molestias porro, mollitia quia minima
            et praesentium possimus veniam?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Necessitatibus nobis suscipit molestias porro, mollitia quia minima
            et praesentium possimus veniam?
          </p>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div class="s-faq__spoller-btn">
          <span>Работаете ли вы по договору?</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-plus"></use>
          </svg>
        </div>
        <div class="s-faq__spoller-body">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Necessitatibus nobis suscipit molestias porro, mollitia quia minima
            et praesentium possimus veniam?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Necessitatibus nobis suscipit molestias porro, mollitia quia minima
            et praesentium possimus veniam?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
