<section class="s-method sect-m" id="s-method">
  <div class="container">
    <div class="s-method__head">
      <h2 class="s-title s-method__title">
        Индивидуальный подход к вашему выбору
      </h2>
      <p class="s-method__head-content">
        Наши дизайнеры ориентированы на оказание профессиональной помощи в
        процессе выбора, учитывая ваши предпочтения и бюджет, а не на продажу
        товаров, выгодных для компании.
      </p>
    </div>
    <div class="swiper s-method__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-method__slide">
          <img src="@img/method.jpg" alt="image" class="s-method__slide-img" />
          <span class="s-method__slide-title">
            В наличии свыше 200 оттенков
          </span>
        </div>
        <div class="swiper-slide s-method__slide">
          <img src="@img/method.jpg" alt="image" class="s-method__slide-img" />
          <span class="s-method__slide-title">
            Мы используем МДФ и ЛДСП улучшенного качества
          </span>
        </div>
        <div class="swiper-slide s-method__slide">
          <img src="@img/method.jpg" alt="image" class="s-method__slide-img" />
          <span class="s-method__slide-title">
            На фасадах применяется пленка ПВХ или жесткий пластик
          </span>
        </div>
        <div class="swiper-slide s-method__slide">
          <img src="@img/method.jpg" alt="image" class="s-method__slide-img" />
          <span class="s-method__slide-title">
            Качественная фурнитура с доводчиками
          </span>
        </div>
        <div class="swiper-slide s-method__slide">
          <img src="@img/method.jpg" alt="image" class="s-method__slide-img" />
          <span class="s-method__slide-title">
            С нами вы получите любые кухонные устройства по оптовым ценам
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
