<section class="s-offer sect-m" id="s-offer">
  <div class="container">
    <h2 class="s-title s-offer__title">Этапы работы</h2>
    <p class="s-offer__descr">Качественной становки кухонного гарнитура</p>
    <div class="swiper s-offer__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-offer__slide">
          <div
            class="s-offer__slide-gallery"
            style="
              background: url(&quot;@img/offer.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="s-offer__gallery-title">
              Дарим 30 000 на покупку кухни!
            </div>
            <a
              href="#modal-connect"
              data-fancybox
              class="btn-s s-offer__gallery-btn"
            >
              Оставить заявку
            </a>
          </div>
          <h5 class="s-offer__slide-title">Дарим 30 000 на покупку кухни!</h5>
        </div>
        <div class="swiper-slide s-offer__slide">
          <div
            class="s-offer__slide-gallery"
            style="
              background: url(&quot;@img/offer.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="s-offer__gallery-title">
              Дарим 30 000 на покупку кухни!
            </div>
            <a
              href="#modal-connect"
              data-fancybox
              class="btn-s s-offer__gallery-btn"
            >
              Оставить заявку
            </a>
          </div>
          <h5 class="s-offer__slide-title">Дарим 30 000 на покупку кухни!</h5>
        </div>
        <div class="swiper-slide s-offer__slide">
          <div
            class="s-offer__slide-gallery"
            style="
              background: url(&quot;@img/offer.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="s-offer__gallery-title">
              Дарим 30 000 на покупку кухни!
            </div>
            <a
              href="#modal-connect"
              data-fancybox
              class="btn-s s-offer__gallery-btn"
            >
              Оставить заявку
            </a>
          </div>
          <h5 class="s-offer__slide-title">Дарим 30 000 на покупку кухни!</h5>
        </div>
        <div class="swiper-slide s-offer__slide">
          <div
            class="s-offer__slide-gallery"
            style="
              background: url(&quot;@img/offer.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="s-offer__gallery-title">
              Дарим 30 000 на покупку кухни!
            </div>
            <a
              href="#modal-connect"
              data-fancybox
              class="btn-s s-offer__gallery-btn"
            >
              Оставить заявку
            </a>
          </div>
          <h5 class="s-offer__slide-title">Дарим 30 000 на покупку кухни!</h5>
        </div>
        <div class="swiper-slide s-offer__slide">
          <div
            class="s-offer__slide-gallery"
            style="
              background: url(&quot;@img/offer.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="s-offer__gallery-title">
              Дарим 30 000 на покупку кухни!
            </div>
            <a
              href="#modal-connect"
              data-fancybox
              class="btn-s s-offer__gallery-btn"
            >
              Оставить заявку
            </a>
          </div>
          <h5 class="s-offer__slide-title">Дарим 30 000 на покупку кухни!</h5>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar s-offer__slider-scrollbar"></div>
  </div>
</section>
