<section class="s-order" id="s-order" style="background: url('@img/order.jpg') center / cover no-repeat;">
  <div class="container">
    <div class="s-order__wrapper">
      <div class="s-order__info">
        <h2 class="s-title s-order__title">Оставьте заявку</h2>
        <p class="s-order__descr">
          Мы обязательно свяжемся с вами уточним размеры, ваши пожелания по материалам и фурнитуре и сделаем расчет!
        </p>
        <img src="@img/arrow.png" alt="arrow" class="s-order__arrow">
      </div>
      <div class="s-order__form-wrapper">
        <form action="#" class="s-order__form">
          <div class="input-control">
            <input type="text" placeholder="Как к вам обращаться?" class="input">
          </div>
          <div class="input-control">
            <input type="tel" placeholder="+7 (999) 999-99-99" class="input">
          </div>
          <button class="btn-s s-order__form-btn">Расчитать стоимость кухни</button>
        </form>
        <p class="form-policy">Нажимая кнопку «Оставить заявку», я принимаю условия <a href="#" target="_blank">Пользовательского соглашения</a> и даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных»</p>
      </div>
    </div>
  </div>
</section>