<section class="s-reviews sect-m">
  <div class="container tabs">
    <h2 class="s-title s-reviews__title">Отзывы наших клиентов</h2>
    <p class="s-reviews__descr">
      О полученном результате и нашем подходе к работе
    </p>
    <div class="s-reviews__nav">
      <div
        data-tab-btn="tab-1"
        class="btn-s s-reviews__nav-btn _outline _active"
      >
        Отзывы
      </div>
      <div data-tab-btn="tab-2" class="btn-s s-reviews__nav-btn _outline">
        Отзывы Яндекса
      </div>
    </div>
    <div data-tab="tab-1" class="_active" style="opacity: 1">
      <div class="s-reviews__slider-wrapper">
        <div class="slider-btn _prev _primary">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="swiper s-reviews__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide s-reviews__slide">
              <img
                src="@img/reviews.jpg"
                alt="image"
                class="s-reviews__slide-img"
              />
              <a
                href="@img/reviews-content.jpg"
                data-fancybox
                class="s-reviews__slide-content"
              >
                <img
                  src="@img/reviews-content.jpg"
                  alt="image"
                  class="s-reviews__slide-img-content"
                />
              </a>
            </div>
            <div class="swiper-slide s-reviews__slide">
              <img
                src="@img/reviews.jpg"
                alt="image"
                class="s-reviews__slide-img"
              />
              <a
                href="@img/reviews-content.jpg"
                data-fancybox
                class="s-reviews__slide-content"
              >
                <img
                  src="@img/reviews-content.jpg"
                  alt="image"
                  class="s-reviews__slide-img-content"
                />
              </a>
            </div>
            <div class="swiper-slide s-reviews__slide">
              <img
                src="@img/reviews.jpg"
                alt="image"
                class="s-reviews__slide-img"
              />
              <a
                href="@img/reviews-content.jpg"
                data-fancybox
                class="s-reviews__slide-content"
              >
                <img
                  src="@img/reviews-content.jpg"
                  alt="image"
                  class="s-reviews__slide-img-content"
                />
              </a>
            </div>
            <div class="swiper-slide s-reviews__slide">
              <img
                src="@img/reviews.jpg"
                alt="image"
                class="s-reviews__slide-img"
              />
              <a
                href="@img/reviews-content.jpg"
                data-fancybox
                class="s-reviews__slide-content"
              >
                <img
                  src="@img/reviews-content.jpg"
                  alt="image"
                  class="s-reviews__slide-img-content"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="slider-btn _next _primary">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
      <div class="slider-scrollbar s-reviews__slider-scrollbar"></div>
    </div>
    <div data-tab="tab-2">
      <div class="s-reviews__slider-wrapper">
        <div class="slider-btn _prev _primary">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="swiper s-reviews__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide s-reviews__slide">
              <img
                src="@img/reviews.jpg"
                alt="image"
                class="s-reviews__slide-img"
              />
              <a
                href="@img/reviews-content.jpg"
                data-fancybox
                class="s-reviews__slide-content"
              >
                <img
                  src="@img/reviews-content.jpg"
                  alt="image"
                  class="s-reviews__slide-img-content"
                />
              </a>
            </div>
            <div class="swiper-slide s-reviews__slide">
              <img
                src="@img/reviews.jpg"
                alt="image"
                class="s-reviews__slide-img"
              />
              <a
                href="@img/reviews-content.jpg"
                data-fancybox
                class="s-reviews__slide-content"
              >
                <img
                  src="@img/reviews-content.jpg"
                  alt="image"
                  class="s-reviews__slide-img-content"
                />
              </a>
            </div>
            <div class="swiper-slide s-reviews__slide">
              <img
                src="@img/reviews.jpg"
                alt="image"
                class="s-reviews__slide-img"
              />
              <a
                href="@img/reviews-content.jpg"
                data-fancybox
                class="s-reviews__slide-content"
              >
                <img
                  src="@img/reviews-content.jpg"
                  alt="image"
                  class="s-reviews__slide-img-content"
                />
              </a>
            </div>
            <div class="swiper-slide s-reviews__slide">
              <img
                src="@img/reviews.jpg"
                alt="image"
                class="s-reviews__slide-img"
              />
              <a
                href="@img/reviews-content.jpg"
                data-fancybox
                class="s-reviews__slide-content"
              >
                <img
                  src="@img/reviews-content.jpg"
                  alt="image"
                  class="s-reviews__slide-img-content"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="slider-btn _next _primary">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
      <div class="slider-scrollbar s-reviews__slider-scrollbar"></div>
    </div>
  </div>
</section>
