<section class="s-report" id="s-report">
  <div class="container">
    <div class="s-report__body">
      <div class="s-report__head">
        <h2 class="s-title s-report__title">
          Отчет сборщиков INNOVA о выполнении монтажа кухонного гарнитура.
        </h2>
        <div class="s-report__slider-nav">
          <div class="slider-btn _prev _primary">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next _primary">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper s-report__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-report__slide">
            <a
              href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
              data-fancybox
              class="s-report__slide-gallery"
              style="
                background: url(&quot;@img/report.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <div class="s-report__slide-play">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
            </a>
            <div class="s-report__slide-date">25 августа 2025 г.</div>
          </div>
          <div class="swiper-slide s-report__slide">
            <a
              href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
              data-fancybox
              class="s-report__slide-gallery"
              style="
                background: url(&quot;@img/report.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <div class="s-report__slide-play">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
            </a>
            <div class="s-report__slide-date">25 августа 2025 г.</div>
          </div>
          <div class="swiper-slide s-report__slide">
            <a
              href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
              data-fancybox
              class="s-report__slide-gallery"
              style="
                background: url(&quot;@img/report.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <div class="s-report__slide-play">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
            </a>
            <div class="s-report__slide-date">25 августа 2025 г.</div>
          </div>
          <div class="swiper-slide s-report__slide">
            <a
              href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
              data-fancybox
              class="s-report__slide-gallery"
              style="
                background: url(&quot;@img/report.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <div class="s-report__slide-play">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
            </a>
            <div class="s-report__slide-date">25 августа 2025 г.</div>
          </div>
          <div class="swiper-slide s-report__slide">
            <a
              href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
              data-fancybox
              class="s-report__slide-gallery"
              style="
                background: url(&quot;@img/report.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <div class="s-report__slide-play">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
            </a>
            <div class="s-report__slide-date">25 августа 2025 г.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
