<section class="sect-m s-steps" id="s-steps">
  <div class="container">
    <h2 class="s-title s-steps__title">Этапы работы</h2>
    <p class="s-steps__descr">Качественной становки кухонного гарнитура</p>
    <div class="s-steps__grid">
      <div class="s-steps__item">
        <div class="s-steps__item-num">01</div>
        <h5 class="s-steps__item-title">Замер</h5>
        <p class="s-steps__item-content">
          Возможен уже в этот же день, если оставили заявку до обеда.
          И в выходные дни тоже.
        </p>
      </div>
      <div class="s-steps__item">
        <div class="s-steps__item-num">02</div>
        <h5 class="s-steps__item-title">Изготовление</h5>
        <p class="s-steps__item-content">
          От 20 дней, зависит от объема и сложности заказа. Логистика и поставки
          материала отлажены как швейцарские часы
        </p>
      </div>
      <div class="s-steps__item">
        <div class="s-steps__item-num">03</div>
        <h5 class="s-steps__item-title">Доставка и установка</h5>
        <p class="s-steps__item-content">
          В день изготовления на собственном транспорте. Убираем помещения
          от пыли и мусора после монтажа. Установку контролирует руководитель
          отдела сборки
        </p>
      </div>
      <div class="s-steps__item">
        <div class="s-steps__item-num">04</div>
        <h5 class="s-steps__item-title">Сервисное обслуживание</h5>
        <p class="s-steps__item-content">
          В течение 2 лет после установки. Гарантия распространяется и на кухню,
          и на монтаж. У нас все официально по договору
        </p>
      </div>
    </div>
  </div>
</section>
